@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');



:root{
  --font-family1:"poppins", "san-serif";
  --font-family2: "Volkhov";
  --primary-orange-color: #FA7436;
  --secondary-white-color: #FFFFFF;
  --tertiary-background-color:#FEFCFB;
  --quaternary-gray-color: #666666;
  --quinary-black-color: #222222;
  --background-purple-color: #F7F8FC;
  --background-page3-color: #FEFCFB;
  --mild-orange-color: #FFE7DB;
  --button-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
  --card-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05), 0 2px 8px rgba(0, 0, 0, 0.05);
}

body {
  padding: 0;
  background-color: var(--tertiary-background-color);
  font-family: var(--font-family1);
  font-size: 16px;
  color: var(--quinary-black-color);
}
  
.page1_dimension {
  display: flex;
  justify-content: center;
}

.page1{
 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "navbar"
  "main"
  "footer";
  max-width: 1170px;
  width: 100%;
  height: 100vh;
  padding: 20px;
  justify-content: center;
  align-items: center;
  justify-self: center;
  /* background-color: cadetblue; */
  grid-template-rows: 130px 600px auto;
  
  
}

.nav_page1 {
  grid-area: navbar;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  max-width: 1170px;
  margin-bottom: 60px;
}

.Trabook {
  display: flex;
  gap: 12px;
  font-family: var(--font-family2);
  font-weight: 600;
  font-size: 24px;
  align-items: center;
}




.listed {
  display: flex;
  gap: 40px;
  list-style-type: none; 
  padding-left: 0;       
  margin: 0; 
  justify-items: center;
  align-items: center;
  font-weight: 300;
}

.trabook_login {
  display: flex;
  align-items: center;
  gap: 40px;
}

.login{
  color: var(--primary-orange-color);
  font-weight: 550;
}

.btnsign{
  background: var(--primary-orange-color);
  border: none;
  width: 160px;
  height: 50px;
  font-size: 16px;
  color: var(--secondary-white-color);
  border-radius: 8px;
  font-weight: 550;
  cursor: pointer;
  box-shadow: var(--button-box-shadow);
}

.main_page1 {
  grid-area: main;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  
  
}

.content1 {
 width: 600px;
}

h1{
  font-family: var(--font-family2);
  font-size: 64px;
  line-height: 70px;
}

.span_cl {
  color: var(--primary-orange-color);
}

p{
  font-size: 20px;
  line-height: 40px;
  width: 500px;
  font-weight: 300;
  color: var(--quaternary-gray-color);
}

.btn_dis {
  color:var(--primary-orange-color);
  background: var(--secondary-white-color);
  border: 1px solid var(--primary-orange-color);
  border-radius: 8px;
  width: 178px;
  height: 60px;
  font-size: 18px;
  
}

.content2 {
  width: 700px;
  height: 585px;
  overflow: hidden;
  position: relative;
  align-items:flex-end;
  /* background-color: aqua; */
}

.content2 img{
  width: 785px;
  position: absolute;
  left: 0px;
  top: 0px;
  align-items: center;
}

.footer_Page1 {
  grid-area: footer;
  justify-content: center;
  justify-self: center;
}

.overall_footer {
  display: flex;
  background: var(--secondary-white-color);
  height: 124px;
  width: 841px;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  box-shadow: var(--card-box-shadow);
}

.f0 {
  display: grid;
  grid-template-areas: 
  "content dropdown"
  "para para" ;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
  padding: 0%;
  margin: 0%;
  height: 60px;
}

.f1 {
  grid-area: content;
  width: fit-content;
  font-size: 16px;
  /* background-color: aliceblue; */
  height: fit-content;
}

.dropdown {
  grid-area: dropdown;
  width: fit-content;
}

.footp {
  grid-area: para;
  width: fit-content;
  font-size: 12px;
  /* background-color: cadetblue; */
  height: fit-content;
  color: var(--quaternary-gray-color);
}

.btnx {
  width: 165px;
  height: 60px;
  border: none;
  background: var(--primary-orange-color);
  color: var(--secondary-white-color);
  border-radius: 8px;
  font-size: 18px;
  box-shadow: var(--button-box-shadow);
}

/* <!-- Page 2 --> */

.page2_dimension {
  display: flex;
  justify-content: center;
  height: 724px;
  background-color: var(--background-purple-color);
}

.page2{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "header"
  "main";
  max-width: 1170px;
  width: 100%;
  height: 484px;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  /* background-color: cadetblue; */
}

.headerp2 {
  display: grid;
  align-content: center;
  grid-column: 1fr;
  justify-content: center;


}

.headingp2 {
  font-size: 48px;
  font-family: var(--font-family2);
  font-weight: 600;
  line-height: 54px;
  padding-bottom: 24px;
  position: relative;
}

.parap2 {
  font-size: 18px;
  color: var(--quaternary-gray-color);
  font-weight: 300;
  width: 482px;
  text-align: center;
  line-height: 32px;
}

.flightlogop2 {
  position: absolute;
  right: 340px;
}

.mainp2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

.cardbg {
  width: 370px;
  height: auto;
  position: absolute;
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07); */
  border-radius: 8px;
  /* transform: scaleX(-1); */
}


.cardcontent {
  display: grid;
  position: relative;
  top: 48px;
  left: 48px;
  border: none;
}

.cardheading {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  padding-top: 48px;
  padding-bottom: 16px;
}

.cardpara {
  font-size: 16px;
  font-weight: 300;
  color: var(--quaternary-gray-color);
  line-height: 24px;
  width: 290px;
}



.cardbg2 {
  width: 370px;
  height: auto;
  position: absolute;
  border-radius: 8px;
  transform: scaleX(-1);
}


.cardcontent2 {
  display: grid;
  position: relative;
  top: 48px;
  left: 48px;
}

.cardheading2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  padding-top: 48px;
  padding-bottom: 16px;
}

.cardpara2 {
  font-size: 16px;
  font-weight: 300;
  color: var(--quaternary-gray-color);
  line-height: 24px;
  width: 290px;
}


.cardbg3 {
  width: 370px;
  height: auto;
  position: absolute;
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07); */
  border-radius: 8px;
  /* transform: scaleX(-1); */
}


.cardcontent3 {
  display: grid;
  position: relative;
  top: 48px;
  left: 48px;
}

.cardheading3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  padding-top: 48px;
  padding-bottom: 16px;
}

.cardpara3 {
  font-size: 16px;
  font-weight: 300;
  color: var(--quaternary-gray-color);
  line-height: 24px;
  width: 290px;
}

/* <!-- Page 3 --> */

.page3_dimension {
  display: flex;
  justify-content: center;
  height: 960px;
  background-color: var(--background-page3-color);
}

.page3 {
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  width: 1170px;
  align-items: center;
}

.headerp3 {
  grid-area: header;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-self: center;
  max-height: 142px;
}

.headingp3 {
  font-size: 48px;
  font-family: var(--font-family2);
  font-weight: 600;
  /* padding-bottom: 24px; */
}

.parap3 {
  font-size: 18px;
  color: var(--quaternary-gray-color);
  display: flex;
  justify-self: center;
  text-align: center;
  width: 420px;
}

.mainp3 {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.card1_p3 {
  display: grid;
  grid-template-areas: 
  "card_img"
  "card_content";
  width: 270px;
  border: solid rgba(102, 102, 102, 0.08);
  border-radius: 8px;
  max-height: 426px;
  justify-content: center;
  align-items: start;

}

.card_content {
  display: grid;
  /* max-height: 100px; */
  justify-content: center;
}

.card_firstline {
  display: flex;
  width: 238px;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
  max-height: 26px;
  margin-bottom: 18px;
}

.card_place {
  font-size: 24px;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: cadetblue; */
  width: 48px;
  max-height: 26px;
}

.card_rating {
  font-size: 16px;
  color: var(--quaternary-gray-color);
  font-weight: 300;
  line-height: 24px;
  align-self: center;
  justify-content: center;
}

.card_srating {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.card_secondline {
  display: flex;
  max-width: 238px;
  justify-content: space-between;
  margin-bottom: 8px;
}

.cardPlace {
  display: flex;
  align-items: center;
  /* background-color: brown; */
  max-width: 100px;
  max-height: 20px;
  gap: 8px;
  justify-content: space-between;
}

.paraloc {
  display: flex;
  /* background-color: cornflowerblue; */
  width: fit-content;
  font-weight: 300;
}

.cardlocation {
  display: flex;
  /* margin-right: 8px; */
  /* background-color: crimson; */
  width: fit-content;
}

.cardprice {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  /* background-color: chartreuse; */
  height: 28px;
  max-width: 110px;
}


.old_price{
  display: flex;
  font-weight: 400;
  max-width: 42px;
  font-size: 16px;
  text-decoration: line-through;
}

.new_price {
  display: flex;
  font-weight: 500;
  width: 52px;
  height: 28px;
  align-self: center;
  background-color: var(--mild-orange-color);
  border-radius: 8px;
  color: var(--primary-orange-color);
  justify-self: center;
  justify-items: center;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  justify-content: center;
}

.p3 {
  display: flex;
  justify-content: center;
  max-height: 40px;
}

/* <!-- Page 4 --> */

.page4_dimension {
  display: flex;
  width: auto;
  height: 893px;
  background-color: FEFCFB;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  background-color: #FEFCFB;
}

.page4 {
  display: flex;
  flex-direction: column;
  width: 1170px;
  height: 653px;
  justify-content: space-between;
  /* align-items: center; */
  align-content: space-between;
  /* background-color: #deeac9; */
}

.header4 {
  /* background-color: rgb(241, 111, 111); */
  height: 142px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* gap: 24px; */
  position: relative;
}

.tree4 {
  position: absolute;
  right: 150px;
}

.heading4 {
  font-size: 48px;
  font-family: var(--font-family2);
  line-height: 54px;
  width: fit-content;
  height: fit-content;
  font-weight: 700;
}

.para4 {
  font-size: 18px;
  color: var(--quaternary-gray-color);
  line-height: 32px;
  width: 521px;
  height: fit-content;
  text-align: center;
}

.sidenav {
  height: 40px;
  width: 1170px;
  display: flex;
  justify-content: flex-end;
}



.main4 {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 1170px;
  height: 447px;
  /* background-color: rgb(255, 229, 163); */
  align-content: end;
}

.card4 {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 447px;
  background-color: #FEFCFB;
  border-radius: 16px;
  border: rgba(102, 102, 102, 0.08);
  box-shadow: var(--card-box-shadow);
}

.card_img4 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: cornflowerblue; */
  width: 369px;
  height: 327px;
  position: relative;
  border-radius: 12px;
}



.cardIMG4 {
  object-fit: cover;
  position: absolute;
  top:-2px;
  left: -6px
}

.card_content4 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 319px;
  align-self: center;
  gap: 16px;
  align-content: space-evenly;
  margin: auto;
}

.top_cont4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(69, 182, 145); */
  height: 32px;
}

.place4 {
  font-size: 24px;
  font-weight: 500;
}

.price4 {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-orange-color);
}

.bot_cont4 {
  display: flex;
  justify-content: space-between;
  /* background-color: aquamarine; */
  height: 24px;
}

.lc4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}

.days4 {
  color: var(--quaternary-gray-color);
  font-weight: 300;
}

.rc4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.rat4 {
  font-weight: 300;
  color: var(--quaternary-gray-color);
}


/* PAGE 5 */

.page5_dimension {
  height: 596px;
  background-color: #F7F8FC;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page5 {
  display: flex;
  /* background-color: lavenderblush; */
  width: 1103px;
  height: 356px;
  justify-content: space-between;
  gap: 122px;
}

.left5 {
  display: flex;
  flex-direction: column;
  width: 394px;
  height: 268px;
  /* background-color: lightblue; */
  justify-content: space-between;
  
}

.heading5 {
  font-size: 48px;
  font-weight: 700;
  font-family: var(--font-family2);
  line-height: 54px;
  width: 387px;
  height: 108px;
}

.para5 {
  font-weight: 300;
  color: var(--quaternary-gray-color);
  margin-bottom: 8px;
}

.nav5 {
  width: 112px;
  height: 40px;
}

.right5 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 100px;
}

.dp5 {
  height: 68px;
  width: 68px;
  position: absolute;
  top: 0px;
  left: -34px;
  z-index: 2;
}

.card5_001 {
  max-width: 504px;
  max-height: 245px;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-white-color);
  padding: 32px;
  border-radius: 10px;
  box-shadow: var(--card-box-shadow);
  margin-top: 34px;
  /* margin: auto; */
  z-index: 1;
  
}

.h5_1 {
  width: 402px;
  height: 96px;
  line-height: 32px;
}

.h5_name_1 {
  font-weight: 600;
  font-size: 18px;
  height: 27px;
  width: 101px;
}

.h5_price_1 {
  font-size: 14px;
  color: var(--quaternary-gray-color);
  height: 21px;
  width: 116px;
}

.card_02_pos {
  position: relative;
}

.card5_002 {
  max-width: 502px;
  max-height: 232px;
  color: 222222;
  border: solid rgba(102, 102, 102, 0.08);
  border-radius: 10px;
  position: absolute;
  bottom: -90px;
  left: 50px;
  padding: 32px;
  box-shadow:  0 4px 12px rgba(0, 0, 0, 0.02), 0 2px 8px rgba(0, 0, 0, 0.02);
}

.h5_2 {
  width: 402px;
  height: 96px;
  color: rgba(102, 102, 102, 0.00);
}

.h5_name_2 {
  font-weight: 600;
  font-size: 18px;
  height: 27px;
  width: 127px;
  color: rgba(102, 102, 102, 0.4);
}

.h5_place_2 {
  font-size: 14px;
  color: var(--quaternary-gray-color);
  height: 21px;
  width: 127px;
  color: rgba(102, 102, 102, 0.4);
}

/* PAGE 6 */

.page6_dimension {
  min-height: 805px;
  max-height: 805px;
  background-color: #FEFCFB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page6 {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  min-width: 1170px;
  max-height: 565px;
  min-height: 565px;
  /* background-color: #FFE7DB; */
  align-content: space-between;
  justify-content: space-between;
}

.heading06 {
  font-size: 48px;
  font-family: var(--font-family2);
  font-weight: 700;  
  display: flex;
  min-width: 646;
  justify-content: center;
  align-items: center;
}



.main06 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card6_01 {
  /* background-color: #6176cd; */
  max-width: 270px;
  height: 368px;
  gap: 24px;
}

.content_6 {
  width: 244px;
  height: 94px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.head_cont_06 {
  font-size: 18px;
}

.para_cont_06 {
  color: #999999;
  font-weight: 300;
}

.foot06 {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* PAGE 7 */

.page7_dimension {
  min-height: 416px;
  max-height: 416px;
  background-color: #FEFCFB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page7 {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  min-width: 1170px;
  min-height: 416px;
  max-height: 416px;
  background-color: #FA7436;
  align-content: space-between;
  
  align-items: center;
  border-radius: 16px;
  justify-content: space-evenly;
  margin: auto;
}

.content7 {
  height: 256px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header7 {
  display: flex;
  align-content: center;
  justify-content: center;
}

.heading7 {
  font-family: var(--font-family2);
  color: var(--secondary-white-color);
  font-size: 48px;
  font-weight: 700;
  width: 707px;
  text-align: center;
}

.search_container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  margin: 20px;
  position: relative;
  z-index: 1;
}

.search-box {
  font-size: 16px;
  border: none;
  border-radius: 10px;
  width: 674px;
  max-height: 68px;
  min-height: 68px;
  font-family: var(--font-family1);
  color: #999999;
}

.search-button {
  width: 132px;
  height: 50px;
  font-size: 16px;
  background-color:var(--primary-orange-color);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  position: absolute;
  right: 9px;
  top: 9px;
}

.search-button:hover {
  background-color: #553200;
}

.lines {
  position: absolute;
  top: -24px;
  left: -220px;
  right: 200px;
}

.treess {
  position: absolute;
  bottom: 240px;
  right: 160px;
  left: 800px;
  color: #FFFFFF;
  background: var(--secondary-white-color);
  background-color: var(--secondary-white-color);
}

/* PAGE 8 */

.page8_dimension {
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page8 {
  display: flex;
  width: 1170px;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}

.main8 {
  display: flex;
  max-height: 210px;
  justify-content: space-between;
}

.content8_01 {
  display: flex;
  flex-direction: column;
  min-height: 176px;
  align-content: space-between;
  justify-content: space-between;
}

.logotext {
  font-family: var(--font-family2);
  font-size: 24px;
  font-weight: 700;
  display: flex;
  gap: 10px;
}

.p8_01 {
  width: 254px;
}

.content_8_right {
  display: flex;
  width: 598px;
  justify-content: space-between;
  align-items: start;
}

.h1_8_01 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 32px;
}

.company {
  font-weight: 300;
  font-size: 18px;
  color: #666666;
  list-style-type: none;
  padding: 0; /* Optional: Removes default padding from the list */
  margin: 0; 
  display: flex;
  flex-direction:column;
  gap: 18px;
}

.line_hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer8 {
  display: flex;
  justify-content: space-between;
  color: #666666;
  font-weight: 300;
}